.wrap {width: 1170px; margin: auto;}
.news {width: 600px; margin: 3rem 0; border: 1px solid #ccc; padding: 1rem; border-radius: 6px;}
.new > .tit {width: 20%; float: left; padding: 0.5rem 0;}
.new > .cont {width: 75%; float: right; padding: 0.5rem 0;}
.news .bts {padding: 0.5rem; margin-top: 0.5rem; border-top: 1px dashed #ccc; text-align: center;}

.header {background-color: #394165; font-size: 0.875rem; color: #9099b7;}
.navis {padding: 2rem 0; display: flex; justify-content: space-between; align-items: center;}
.navi {position: relative;}
.navi > li {float: left; padding: 0.5rem 1rem; cursor: pointer; position: relative;}
.navi .navi-sub {position: absolute; top: 80px; display: none; box-shadow: 0 0 10px rgba(0,0,0,0.3);}
.navi-sub > li {padding: 0.5rem 1rem; background-color: rgb(213, 248, 248); color: #222; border-bottom: 1px solid #aaa; min-width: 120px;}
.navi-sub > li:hover {background-color: rgb(25, 46, 73); color: #f8f8f8;}

.navi-bar {
	background-color: #eee; width: 0%; height:2px;
	margin: auto; transform: translateY(0.25rem); transition: width 1s;}
.navi-bar-hover {width: 80%;}


.login_wrap {height: calc(100% - 114px); display: flex; justify-content: center; align-items: center;}
.logins {width: 400px; padding: 2rem; border: 2px solid #ccc; border-radius: 4px;}
.logins .tit {width: 35%; float: left; padding: 0.25rem 0;}
.logins .cont {width: 60%; float: right; padding: 0.25rem 0;}
.logins .bts {margin-top: 1rem;}


.navi > li {}