/* 공통사항 */
/* 940 / 720 / 96% */
.wrap {width: 940px; margin: auto;}

/* 상단(Header) */
.header {background-color: #394165; font-size: 0.875rem; color: #9099b7;}
.header a {color: #9099b7; text-decoration: none;}
.header a:hover {color: #f1f1f1;}
.tops {padding: 0.5em 0; border-bottom: 1px solid #5d6688;}
.tops i {width: 24px; height: 24px; border-radius: 50%; border: 1px solid #9099b7; text-align: center; line-height: 22px; font-size: 0.75em;}
.top-lt {float: left; padding-top: 0.25em;}
.top-lt > li {float: left; padding-right: 1em; line-height: 1; text-align: left;}
.top-lt > li:not(:first-child) {padding-left: 1em;}
.top-lt > li:not(:last-child) {border-right: 1px solid #9099b7;}
.top-rt {float: right;}
.top-rt > li {float: left;}
.top-rt > li:not(:first-child) {padding-left: 1em;}
.top-rt > li:not(:last-child) {padding-right: 1em; border-right: 1px solid #9099b7; line-height: 1;}

.navis {padding: 2rem 0; display: flex; justify-content: space-between; align-items: center;}
.navi {position: relative;}
.navi > li {float: left; padding: 0.5rem 1rem; cursor: pointer; border: 1px solid red;}
.navi-bar {
	background-color: #eee; width: 0%; height:2px;
	margin: auto; transform: translateY(0.25rem); transition: width 1s;}
.navi-bar-hover {width: 80%;}
.navi-subs {background-color: #fff; position: absolute; right: 0; top: 5rem; padding: 1rem; display: none; opacity: 0;}
.navi > li:nth-child(1) > .navi-subs {width: 800px; display: none; flex-wrap: wrap; justify-content: flex-start; align-items: flex-start;}
.navi > li:nth-child(1) > .navi-subs > ul {flex: 0 1 23%; margin: 1%;}
.navi > li:nth-child(1) > .navi-subs img {border: 1px solid #ccc;}
.navi > li:nth-child(1) > .navi-subs > .navi-sub > :last-child {color: #333; text-align: center; padding: 0.5rem 0;}




@media screen and (max-width: 968px) {
	.wrap {width: 720px;}
}

@media screen and (max-width: 768px) {
	.wrap {width: 96%;}
}