/* 공통사항 */
/* 940 / 720 / 96% */
@import url('https://fonts.googleapis.com/css?family=Arimo|Raleway&display=swap');
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Arimo', sans-serif; */
html, body {font-family: 'Arimo', sans-serif; height: 5000px;}

.wrap {width: 940px; margin: auto;}

/* 상단(Header) */
.header {background-color: #394165; font-size: 0.875rem; color: #9099b7;}
.header a {color: #9099b7; text-decoration: none;}
.header a:hover {color: #f1f1f1;}
.tops {padding: 0.5em 0; border-bottom: 1px solid #5d6688;}
.tops i {width: 24px; height: 24px; border-radius: 50%; border: 1px solid #9099b7; text-align: center; line-height: 22px; font-size: 0.75em;}
.top-lt {float: left; padding-top: 0.25em;}
.top-lt > li {float: left; padding-right: 1em; line-height: 1; text-align: left;}
.top-lt > li:not(:first-child) {padding-left: 1em;}
.top-lt > li:not(:last-child) {border-right: 1px solid #9099b7;}
.top-rt {float: right;}
.top-rt > li {float: left;}
.top-rt > li:not(:first-child) {padding-left: 1em;}
.top-rt > li:not(:last-child) {padding-right: 1em; border-right: 1px solid #9099b7; line-height: 1;}

.navis {padding: 2rem 0; display: flex; justify-content: space-between; align-items: center;}
.navi {position: relative;}
.navi > li {float: left; padding: 0.5rem 1rem; cursor: pointer;}
.navi-bar {
	background-color: #eee; width: 0%; height:2px;
	margin: auto; transform: translateY(0.25rem); transition: width 1s;}
.navi-bar-hover {width: 80%;}
.navi-subs {background-color: #fff; position: absolute; right: 0; top: 5rem; padding: 1rem; opacity: 0; border: 1px solid #eee;}

/* 상단1번 서브 */
.navi > li:nth-child(1) > .navi-subs {width: 800px; display: none; flex-wrap: wrap; justify-content: flex-start; align-items: flex-start;}
.navi > li:nth-child(1) > .navi-subs > ul {flex: 0 1 23%; margin: 1%;}
.navi > li:nth-child(1) > .navi-subs img {border: 1px solid #ccc;}
.navi > li:nth-child(1) > .navi-subs > .navi-sub > :last-child {color: #333; text-align: center; padding: 0.5rem 0;}

/* 상단2번 서브 */
.navi > li:nth-child(2) > .navi-subs {width: 800px; display: none ; padding: 2rem 1rem;}
.navi > li:nth-child(2) > .navi-subs > ul {float: left; width: 23%; margin-right: 2.66%;}
.navi > li:nth-child(2) > .navi-subs > ul:last-child {margin-right: 0;}
.navi > li:nth-child(2) > .navi-subs li:nth-child(2) {margin: 0.5rem 0; height: 36px; border-bottom: 1px solid #ccc; line-height: 36px;}
.navi > li:nth-child(2) > .navi-subs span {border-bottom: 1px solid #11a8ab; height:35px; display: inline-block; color: #333;}
.navi > li:nth-child(2) > .navi-subs div {margin: 0.5rem 0;}

/* 상단3번 서브 */
.navi > li:nth-child(3) > .navi-subs {width: 800px; display: none ; padding: 2rem 1rem;}
.navi > li:nth-child(3) > .navi-subs > div:first-child {float: left; width: 75%;}
.navi > li:nth-child(3) > .navi-subs > div:last-child {float: right; width: 22%;}
.navi-sub3 {display: flex; justify-content: space-between; align-items: flex-start; flex-wrap: wrap;}
.navi-sub3 > ul {flex: 0 0 28%; margin-bottom: 3rem;}
.navi-sub3 > ul > li:first-child {margin: 0.5rem 0; height: 36px; border-bottom: 1px solid #ccc; line-height: 36px;}
.navi-sub3 > ul > li:not(:first-child) {margin: 0.5rem 0;}
.navi-sub3 span {border-bottom: 1px solid #11a8ab; height:35px; display: inline-block; color: #333;}

/* 상단1번 서브 */
.navi > li:nth-child(4) > .navi-subs {width: 800px; display: none; justify-content: space-between; align-items: flex-start;}
.navi > li:nth-child(4) > .navi-subs > ul {flex: 0 1 20%; margin-bottom: 3rem;}
.navi-sub4 > ul > li:first-child {margin: 0.5rem 0; height: 36px; border-bottom: 1px solid #ccc; line-height: 36px;}
.navi-sub4 > ul > li:not(:first-child) {margin: 0.5rem 0;}
.navi-sub4 span {border-bottom: 1px solid #11a8ab; height:35px; display: inline-block; color: #333;}


@media screen and (max-width: 968px) {
	.wrap {width: 720px;}
}

@media screen and (max-width: 768px) {
	.wrap {width: 96%;}
}